@import '../../../assets/styles/colors.scss';

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .wide {
    width: 200px;
  }
}
