<app-main></app-main>

<app-main-benefits> </app-main-benefits>

<app-driver-benefits> </app-driver-benefits>

<app-ways-block> </app-ways-block>

<app-analytics-block> </app-analytics-block>

<app-feedback-block> </app-feedback-block>

<footer>
  <h4>ПОПУТКА</h4>

  <div>
    <h4>Как путешествовать?</h4>
    <ul>
      <li>Все автомаршруты</li>
      <li>Все автонаправления</li>
    </ul>
  </div>

  <div>
    <h4>О нас</h4>
    <ul>
      <li>Как работает ПОПУТКА</li>
      <li>Центр помощи</li>
      <li>Контакты</li>
      <li>Политика конфиденциальности</li>
    </ul>
  </div>
</footer>
