<div class="container">
  <h5 class="page-label">отзывы</h5>

  <div class="title-block">
    <h2>Нам доверяют</h2>
    <div class="button-container">
      <button class="left-arrow">
        <img src="assets/img/right-arrow-btn.svg" alt="" />
      </button>
      <button class="right-arrow">
        <img src="assets/img/left-arrow-btn.svg" alt="" />
      </button>
    </div>
  </div>

  <div class="cards-container">
    <div class="card">
      <div class="user-container">
        <img class="icon" src="assets/img/andrew.svg" alt="" />
        <div class="user-info">
          <div class="name">Андрей</div>
          <div class="rating">
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/empty-star.svg" alt="" />
          </div>
        </div>
      </div>

      <p style="width: 307px" class="title">Надежная и удобная платформа!</p>
      <p class="description">
        Отличная возможность найти надежных водителей и безопасно путешествовать. Удобная систему
        бронирования и оплаты, что сделало процесс организации поездки максимально простым.
      </p>
    </div>

    <div class="card">
      <div class="user-container">
        <img class="icon" src="assets/img/tatiana.svg" alt="" />
        <div class="user-info">
          <div class="name">Татьяна</div>
          <div class="rating">
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/empty-star.svg" alt="" />
          </div>
        </div>
      </div>

      <p style="width: 335px" class="title">Я в восторге от такого путешествия</p>
      <p class="description">
        Спасибо ПОПУТКЕ за возможность встретить интересных людей, разделить опыт и создать новые
        связи, делая каждую поездку незабываемой и обогащающей.
      </p>
    </div>

    <div class="card">
      <div class="user-container">
        <img class="icon" src="assets/img/mary.svg" alt="" />
        <div class="user-info">
          <div class="name">Мария</div>
          <div class="rating">
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/empty-star.svg" alt="" />
          </div>
        </div>
      </div>

      <p style="width: 337px" class="title">Экологически чистые поездки</p>
      <p class="description">
        Это способствует уменьшению количества автомобилей на дорогах. Пользуясь ПОПУТКОЙ, я вношу
        свой вклад в сохранение окружающей среды и чувствую себя частью экологического движения.
      </p>
    </div>

    <div class="card">
      <div class="user-container">
        <img class="icon" src="assets/img/mary.svg" alt="" />
        <div class="user-info">
          <div class="name">Мария</div>
          <div class="rating">
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/empty-star.svg" alt="" />
          </div>
        </div>
      </div>

      <p style="width: 337px" class="title">Экологически чистые поездки</p>
      <p class="description">
        Это способствует уменьшению количества автомобилей на дорогах. Пользуясь ПОПУТКОЙ, я вношу
        свой вклад в сохранение окружающей среды и чувствую себя частью экологического движения.
      </p>
    </div>

    <div class="card">
      <div class="user-container">
        <img class="icon" src="assets/img/mary.svg" alt="" />
        <div class="user-info">
          <div class="name">Мария</div>
          <div class="rating">
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/star.svg" alt="" />
            <img src="assets/img/empty-star.svg" alt="" />
          </div>
        </div>
      </div>

      <p style="width: 337px" class="title">Экологически чистые поездки</p>
      <p class="description">
        Это способствует уменьшению количества автомобилей на дорогах. Пользуясь ПОПУТКОЙ, я вношу
        свой вклад в сохранение окружающей среды и чувствую себя частью экологического движения.
      </p>
    </div>
  </div>
</div>
