@import '../../../assets/styles/colors.scss';

:host {
  .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 162px;

    .round {
      background-color: $progress-bg-default;
      width: 10px;
      height: 10px;
      border-radius: 100%;

      &.active {
        background-color: $btn-accent-bg;
        width: 15px;
        height: 15px;
      }
    }
  }

  .btn {
    cursor: pointer;
    width: fit-content;

    &.logo {
      border: none;
      background-color: transparent;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    &::before {
      content: '';
      width: 500px;
      height: 345px;
      position: absolute;
      left: -540px;
      top: 35px;
      box-shadow: 65px 0px 300px 0px $blue-shadow;
      border-radius: 100%;
      background-color: transparent;
      z-index: -1;
    }
  }

  .btn-container {
    display: flex;
    gap: 20px;
  }

  .logo {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -2px;
  }
}
