@import '../../../assets/styles/colors.scss';

:host {
  .btn-icon {
    width: 21px;
    height: 21px;
  }

  .menu {
    max-height: 0px;
    border-radius: 30px;
    background-color: $default-bg;
    list-style-type: none;
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 1;
    transition: 0.3s;
    overflow: hidden;

    &.active {
      max-height: 310px;
    }

    li {
      cursor: pointer;
      padding: 20px;
      font-size: 1.2rem;
      color: unset;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      width: 271px;
      transition: 0.3s;

      &:hover {
        filter: brightness(0.5);
        background-color: #00000017;
      }

      .btn-icon {
        width: 20px;
        height: 20px;
        margin-right: 16px;
      }

      .btn-arrow {
        width: 9px;
        height: 15px;
      }
    }
  }

  .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    .round {
      background-color: $progress-bg-default;
      width: 10px;
      height: 10px;
      border-radius: 100%;

      &.active {
        background-color: $btn-accent-bg;
        width: 15px;
        height: 15px;
      }
    }
  }

  .btn {
    cursor: pointer;
    width: fit-content;

    &.logo {
      border: none;
      background-color: transparent;
    }

    &.user {
      border-radius: 50%;
      position: relative;

      &::before {
        position: absolute;
        right: -25px;
        content: url('../../../assets/img/menu-icon.svg');
        width: 15px;
        height: 15px;
        display: block;
        transition: 0.3s;
      }

      &.active {
        &::before {
          transform: rotate(0.5turn);
        }
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    &::before {
      content: '';
      width: 500px;
      height: 345px;
      position: absolute;
      left: -540px;
      top: 35px;
      box-shadow: 65px 0px 300px 0px $blue-shadow;
      border-radius: 100%;
      background-color: transparent;
      z-index: -1;
    }
  }

  .btn-container {
    display: flex;
    gap: 20px;
  }

  .logo {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -2px;
  }
}
