<header>
  <button (click)="router.navigate([''])" class="btn logo">
    <p class="logo">ПОПУТКА</p>
  </button>

  <div
    *ngIf="
      ProgressService.registrationProgress !== null &&
      ProgressService.registrationProgress !== 'success'
    "
    class="progress"
  >
    <div [class.active]="ProgressService.registrationProgress === 'email'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.registrationProgress === 'info'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.registrationProgress === 'gender'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.registrationProgress === 'password'" class="round"></div>
  </div>

  <div
    *ngIf="ProgressService.addCarProgress !== null && ProgressService.addCarProgress !== 'success'"
    class="progress"
  >
    <div [class.active]="ProgressService.addCarProgress === 'registration'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addCarProgress === 'brand'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addCarProgress === 'model'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addCarProgress === 'color'" class="round"></div>
  </div>

  <div
    *ngIf="
      ProgressService.addTripProgress !== null && ProgressService.addTripProgress !== 'success'
    "
    class="progress"
  >
    <div [class.active]="ProgressService.addTripProgress === 'car'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'start'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'finish'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'date'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'time'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'price'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'comment'" class="round"></div>
    <img src="assets/img/line-divider.svg" alt="" />
    <div [class.active]="ProgressService.addTripProgress === 'details'" class="round"></div>
  </div>

  <div class="btn-container" [ngSwitch]="userService.isAuthorized$ | async">
    <ng-container *ngSwitchCase="false">
      <button (click)="router.navigate(['/register'])" class="btn default">Регистрация</button>
      <button (click)="router.navigate(['/login'])" class="btn accent">Войти</button>
    </ng-container>

    <ng-container *ngSwitchCase="true">
      <button (click)="router.navigate(['/profile/add/trip'])" class="btn default icon">
        <span> Опубликовать поездку </span>
        <img class="btn-icon" src="assets/img/add-icon.svg" alt="add" />
      </button>
      <button
        (click)="isMenuOpen = !isMenuOpen"
        [class.active]="isMenuOpen"
        class="btn accent user"
      >
        <img class="btn-icon" src="assets/img/user-icon.svg" alt="user" />
      </button>
      <ul [class.active]="isMenuOpen" class="menu">
        <li (click)="router.navigate(['/trips']); isMenuOpen = false">
          <img class="btn-icon" src="assets/img/menu-car.svg" alt="user" />
          <span> Ваши поездки </span>
          <img class="btn-arrow" src="assets/img/menu-arrow.svg" alt="user" />
        </li>
        <li (click)="router.navigate(['/trips-passenger']); isMenuOpen = false">
          <img class="btn-icon" src="assets/img/passeger.svg" alt="user" />
          <span> Найти машину </span>
          <img class="btn-arrow" src="assets/img/menu-arrow.svg" alt="user" />
        </li>
        <li (click)="router.navigate(['/profile']); isMenuOpen = false">
          <img class="btn-icon" src="assets/img/menu-user.svg" alt="user" />
          <span> Профиль </span>
          <img class="btn-arrow" src="assets/img/menu-arrow.svg" alt="user" />
        </li>
        <li (click)="router.navigate(['/chat']); isMenuOpen = false">
          <img class="btn-icon" src="assets/img/menu-chat.svg" alt="user" />
          <span> Чаты </span>
          <img class="btn-arrow" src="assets/img/menu-arrow.svg" alt="user" />
        </li>
        <li (click)="logout()">
          <img class="btn-icon" src="assets/img/menu-exit.svg" alt="user" />
          <span> Выход </span>
          <img class="btn-arrow" src="assets/img/menu-arrow.svg" alt="user" />
        </li>
      </ul>
    </ng-container>
  </div>
</header>
