<form (ngSubmit)="sendForm()" class="finder-block">
  <div class="input-container">
    <label for="city_to">Куда</label>
    <input id="city_to" placeholder="Гродно" type="text" />
  </div>

  <button class="refresh-icon">
    <img src="assets/img/refresh-arrows.svg" alt="" />
  </button>

  <div class="input-container">
    <label for="city_from">Откуда</label>
    <input id="city_from" placeholder="Минск" type="text" />
  </div>

  <div class="input-container calendar">
    <label for="date">Когда</label>
    <input id="date" placeholder="Выберите дату" type="date" />
  </div>

  <div class="input-container passenger">
    <label for="passenger">Пассажир</label>
    <div class="container">
      <button
        (click)="passengerCount = passengerCount === 1 ? 1 : passengerCount - 1"
        type="button"
      >
        <img src="assets/img/minus-icon.svg" alt="" />
      </button>

      <span class="passenger-counter">
        {{ passengerCount }}
      </span>

      <button type="button" (click)="passengerCount = passengerCount + 1">
        <img src="assets/img/plus-icon.svg" alt="" />
      </button>
    </div>
  </div>

  <button type="button" class="btn accent submit">Поиск</button>
</form>
