<div [class.success]="ProgressService.registrationProgress === 'success'" class="container">
  <h4
    *ngIf="ProgressService.registrationProgress !== 'success'"
    [ngSwitch]="ProgressService.registrationProgress"
    class="container-title"
  >
    <ng-container *ngSwitchCase="'email'"> Введите эл. почту </ng-container>
    <ng-container *ngSwitchCase="'info'"> Регестрация </ng-container>
    <ng-container *ngSwitchCase="'gender'"> Укажите свой пол </ng-container>
    <ng-container *ngSwitchCase="'password'"> Придумайте пароль </ng-container>
  </h4>

  <form
    [formGroup]="form"
    [ngSwitch]="ProgressService.registrationProgress"
    [class.success]="ProgressService.registrationProgress === 'success'"
  >
    <ng-container *ngSwitchCase="'email'">
      <div class="input-container">
        <input
          [class.dirty]="!isEmailUniqe"
          formControlName="email"
          placeholder=" "
          class="input"
          id="email"
          type="text"
          autocomplete="new-password"
        />
        <label class="placeholder" for="email">Почта</label>
        <span class="input-description"> Email должен быть уникальным. </span>
        <span *ngIf="formService.getFormError(form, 'email', 'email')" class="input-error">
          Введите корректный email.
        </span>
        <span *ngIf="formService.getFormError(form, 'email', 'required')" class="input-error">
          Поле email является обязательным.
        </span>
        <span *ngIf="!isEmailUniqe" class="input-error top-120">
          Этот email уже используется в другой учетной записи ПОПУТКИ
        </span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'info'">
      <div class="input-container">
        <input
          formControlName="firstName"
          placeholder=" "
          class="input"
          id="firstName"
          type="text"
          autocomplete="new-password"
        />
        <label class="placeholder" for="firstName">Имя</label>
        <span
          *ngIf="formService.getFormError(form, 'firstName', 'required')"
          class="input-error top-80"
        >
          Поле Имя является обязательным.
        </span>
      </div>

      <div class="input-container mb-32">
        <input
          formControlName="lastName"
          placeholder=" "
          class="input"
          id="lastName"
          type="text"
          autocomplete="new-password"
        />
        <label class="placeholder" for="lastName">Фамилия</label>
        <span
          *ngIf="formService.getFormError(form, 'lastName', 'required')"
          class="input-error top-80"
        >
          Поле Фамилия является обязательным.
        </span>
      </div>

      <div class="input-container mb-32">
        <input
          formControlName="phone"
          placeholder=" "
          class="input"
          id="phone"
          type="text"
          autocomplete="new-password"
        />
        <label class="placeholder" for="phone">Номер телефона</label>
        <span
          *ngIf="formService.getFormError(form, 'phone', 'required')"
          class="input-error top-80"
        >
          Поле Номер телефона является обязательным.
        </span>
      </div>

      <div class="input-container">
        <input
          formControlName="birthDate"
          placeholder=" "
          class="input"
          id="birthDate"
          type="date"
          autocomplete="new-password"
        />
        <label class="placeholder" for="birthDate">Дата</label>
        <span
          *ngIf="formService.getFormError(form, 'birthDate', 'required')"
          class="input-error top-80"
        >
          Поле Дата является обязательным.
        </span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'gender'">
      <div class="gender-container">
        <button
          (click)="selectGender('f')"
          [class.active]="form.get('gender')?.value === 'f'"
          class="btn-select"
        >
          Женский
        </button>
        <button
          (click)="selectGender('m')"
          [class.active]="form.get('gender')?.value === 'm'"
          class="btn-select"
        >
          Мужской
        </button>
        <button
          (click)="selectGender('n')"
          [class.active]="form.get('gender')?.value === 'n'"
          class="btn-select"
        >
          Предпочитаю не указывать пол
        </button>
      </div>

      <span *ngIf="formService.getFormError(form, 'gender', 'required')" class="error">
        Пожалуйста, укажите свой пол
      </span>
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <div class="input-container">
        <input
          formControlName="password"
          placeholder=" "
          class="input"
          id="password"
          type="password"
          autocomplete="new-password"
        />
        <label class="placeholder" for="password">Пароль</label>
        <span class="input-description">
          Пароль должен содержать не менее восьми знаков, включать заглавные и строчные буквы.
        </span>
        <span
          *ngIf="formService.getFormError(form, 'password', 'required')"
          class="input-error top-120"
        >
          Поле Пароль является обязательным.
        </span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'success'">
      <img src="assets/img/sucsess-registration.svg" alt="" />
      <button (click)="router.navigate(['/login'])" class="btn accent wide">Войти</button>
    </ng-container>

    <div *ngIf="ProgressService.registrationProgress !== 'success'" class="btn-container">
      <a *ngIf="ProgressService.registrationProgress !== 'email'" class="link" (click)="back()">
        Назад
      </a>
      <button (click)="next()" class="btn accent">Продолжить</button>
    </div>
  </form>
</div>
