<div *ngIf="tripList.length" class="container">
  <h4>Ваши поездки</h4>

  <div class="swiper">
    <button (click)="tripStatus = false; toggleStatus()" [class.active]="!tripStatus">
      Созданные
    </button>
    <button (click)="tripStatus = true; toggleStatus()" [class.active]="tripStatus">
      Забронированные
    </button>
  </div>

  <div *ngIf="!isLoading; else loader" [ngSwitch]="tripStatus" class="trip-list">
    <ng-container *ngSwitchCase="false">
      <div *ngFor="let trip of tripList" (dblclick)="selectedTrip = trip" class="trip-container">
        <div class="trip-status" [ngSwitch]="trip.status?.id">
          <ng-container *ngSwitchCase="1">
            <img src="assets/img/yellow-clock.svg" alt="" />
            <span class="yellow">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="2">
            <img src="assets/img/red-cross.svg" alt="" />
            <span class="red">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <img src="assets/img/green-car.svg" alt="" />
            <span class="green">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="4">
            <img src="assets/img/gray-approve.svg" alt="" />
            <span class="gray">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="5">
            <img src="assets/img/red-cross.svg" alt="" />
            <span class="red">{{ trip.status?.status }}</span>
          </ng-container>
        </div>

        <div class="trip-info">
          <span class="date">{{ trip.departureDateTime | date }} </span>

          <div class="route">
            <img src="assets/img/trip-divider.svg" alt="" />
            <div class="route-cities">
              <span>{{ trip.departureLocation.country + ', ' + trip.departureLocation.city }}</span>
              <span>{{
                trip.destinationLocation.country + ', ' + trip.destinationLocation.city
              }}</span>
            </div>
          </div>

          <div class="driver-info">
            <img src="assets/img/profile-user.svg" alt="" />
            <span>{{ trip.driverName }}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="true">
      <div *ngFor="let trip of tripList" (dblclick)="selectedTrip = trip" class="trip-container">
        <div class="trip-status" [ngSwitch]="trip.status?.id">
          <ng-container *ngSwitchCase="1">
            <img src="assets/img/yellow-clock.svg" alt="" />
            <span class="yellow">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="2">
            <img src="assets/img/red-cross.svg" alt="" />
            <span class="red">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <img src="assets/img/green-car.svg" alt="" />
            <span class="green">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="4">
            <img src="assets/img/gray-approve.svg" alt="" />
            <span class="gray">{{ trip.status?.status }}</span>
          </ng-container>

          <ng-container *ngSwitchCase="5">
            <img src="assets/img/red-cross.svg" alt="" />
            <span class="red">{{ trip.status?.status }}</span>
          </ng-container>
        </div>

        <div class="trip-info">
          <span class="date">{{ trip.departureDateTime | date }} </span>

          <div class="route">
            <img src="assets/img/trip-divider.svg" alt="" />
            <div class="route-cities">
              <span>{{ trip.departureLocation.country + ', ' + trip.departureLocation.city }}</span>
              <span>{{
                trip.destinationLocation.country + ', ' + trip.destinationLocation.city
              }}</span>
            </div>
          </div>

          <div class="driver-info">
            <img src="assets/img/profile-user.svg" alt="" />
            <span>{{ trip.driverName }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="!tripList.length">
  <img class="no-trips" src="assets/img/no-trips.svg" alt="" />
  <button (click)="router.navigate(['/'])" class="btn accent wide">Вернутся на главную</button>
</ng-container>

<app-trip-item
  [class.active]="selectedTrip"
  [selectedTrip]="selectedTrip"
  [tripStatus]="tripStatus"
  (closedEvent)="selectedTrip = null"
>
</app-trip-item>

<ng-template #loader>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</ng-template>
