<div class="container">
  <h4>Ваши поездки</h4>

  <div class="swiper">
    <button (click)="tripStatus = false" [class.active]="!tripStatus">Созданные</button>
    <button (click)="tripStatus = true" [class.active]="tripStatus">Забронированные</button>
  </div>

  <div class="trip-list">
    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>

    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>

    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>

    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>

    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>

    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>
    <div class="trip-container">
      <div class="trip-status">
        <img src="assets/img/yellow-clock.svg" alt="" />
        <span>Ждет подтверждения</span>
      </div>

      <div class="trip-info">
        <span class="date">Ср, 17 апреля в 09:00 </span>

        <div class="route">
          <img src="assets/img/trip-divider.svg" alt="" />
          <div class="route-cities">
            <span>Минск</span>
            <span>Брест</span>
          </div>
        </div>

        <div class="driver-info">
          <img src="assets/img/profile-user.svg" alt="" />
          <span>Константин</span>
        </div>
      </div>
    </div>
  </div>
</div>
