<div class="container">
  <h5 class="page-label">тезисы</h5>

  <h2>О нас в цифрах</h2>

  <p class="description">
    Связывая пассажиров и водителей,Попутка создает сеть доверия и содействует развитию сообщества,
    основанного на совместном использовании автомобильных ресурсов.
  </p>

  <div class="stat-container">
    <div class="stat">
      <p class="stat-value">50 млн +</p>
      <p class="stat-description">Довольных клиентов</p>
    </div>
    <div class="stat">
      <p class="stat-value">200 млн</p>
      <p class="stat-description">Поездок</p>
    </div>
    <div class="stat">
      <p class="stat-value">22</p>
      <p class="stat-description">Страны</p>
    </div>
    <div class="stat">
      <p class="stat-value">5 млрд км</p>
      <p class="stat-description">Проехали попутчики</p>
    </div>
  </div>
</div>

<img class="analytics-img" src="../../../assets/img/analytics-img.svg" alt="analytics logo" />
