@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';

body {
  background-color: $main-bg;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Jakarta', sans-serif;
}

input {
  &:focus {
    outline: none;
  }
}

.btn {
  font-size: 14px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-weight: 600;
  padding: 12.5px 16px;
  border: none;
  border-radius: 30px;

  &.icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.btn-select {
  font-size: 20px;
  width: 544px;
  padding: 30px 25px;
  border: 1px solid $input-border-default;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;

  &.active {
    background-color: $btn-selected-bg;
    border: 1px solid $btn-accent-bg;
  }

  &::after {
    content: url('../src/assets/img/gray-select-arrow.svg');
    display: block;
  }
}

.default {
  background-color: $btn-default-bg;
  color: $btn-default-font;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px $box-shadow-color);
  }
}

.accent {
  background-color: $btn-accent-bg;
  color: $btn-accent-font;
  transition: 0.3s;

  &.link-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 0px 10px;
    width: 260px;
    height: 50px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    color: $btn-accent-font;
    &::after {
      content: '';
      background-image: url('../src/assets/img/left-arrow-btn.svg');
      background-repeat: no-repeat;
      display: block;
      width: 9px;
      height: 16px;
    }
  }

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px $box-shadow-color);
  }
}

.page-label {
  font-size: 24px;
  color: $page-label-color;
  margin-bottom: 14px;
}

.link {
  text-decoration: none;
  color: $ref-text-color;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $ref-text-hover;
  }
}

.input-container {
  position: relative;

  .input {
    font-size: 1.4rem;
    line-height: 140%;
    outline: 0;
    padding: 24px 30px;
    border: 1px solid $input-border-default;
    border-radius: 6px;
    box-sizing: border-box;
    width: 544px;
    height: 74px;

    &.ng-touched.ng-invalid,
    &.dirty {
      border: 1px solid $invalid-color;

      & ~ .placeholder {
        color: $invalid-color;
      }
    }
  }

  .placeholder {
    position: absolute;
    top: 26px;
    left: 12px;
    color: $placeholder-color;
    font-size: 20px;
    pointer-events: none;
    transform-origin: 0 50%;
    transition:
      transform 200ms,
      color 200ms;
    padding: 0 6px;
  }

  .input:-webkit-autofill,
  .input:-webkit-autofill:focus {
    font-size: 1.4rem;
    transition:
      background-color 0s 600000s,
      $btn-default-bg 0s 600000s !important;
  }

  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px);
    background-color: $btn-default-bg;
    font-size: 14px;
    width: fit-content;
    padding: 0 6px;
    height: 20px;

    z-index: 1;
    font-weight: 600;
  }

  .input-error {
    position: absolute;
    left: 5px;
    top: 80px;
    font-size: 14px;
    color: $invalid-color;
  }

  .input-description {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    color: $placeholder-color;
  }
}

//* Scroll bar style *//

//* CHROME *//
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
}

//* FIREFOX *//

@-moz-document url-prefix() {
  * {
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
    scrollbar-width: thin;
  }
}
