$main-bg: #f1f1f1;

$green-btn-color: #4eb9ab;
$orange-btn-color: #facd49;

$btn-accent-bg: #7879f1;
$btn-selected-bg: rgba(120, 120, 241, 0.199);
$btn-accent-font: #ffff;

$btn-default-bg: #ffff;
$btn-default-font: #1c1c1cbb;

$blue-shadow: #4475f2;
$purple-shadow: #9747ff;

$finder-border-color: #d1d1d3;

$gray-secondary-color: #1c1b1f;
$gray-title-color: #1c1c1c;

$box-shadow-color: #31313144;

$page-label-color: #7b74f3;
$default-bg: #ffff;
$default-border-color: #e8e8ea;

$semi-text-color: #a8a8a8;
$scrollbar-track-color: #c9d3dd;
$scrollbar-thumb-color: #9b9b9b;
$scrollbar-thumb-hover-color: #acacac;

$shadow-default-color: #31313115;

$footer-bg-color: #e8e8e8;

$placeholder-color: #777679;
$input-border-default: #ceced3;

$ref-text-color: #7879f1;
$ref-text-hover: #5f5fb9;

$invalid-color: #d45d4c;

$progress-bg-default: #19182521;
