<div class="container">
  <h5 class="page-label">приемущества</h5>

  <h2>Почему ПОПУТКА?</h2>

  <div class="cards-container">
    <div class="card">
      <img class="coins" src="assets/img/coins.svg" alt="" />
      <p style="width: 229px" class="title">Ваша поездка по низкой цене</p>
      <p class="description">
        Куда бы вы ни собирались, на автобусе или с попутчиками, вы найдете свою идеальную поездку
        среди множества маршрутов и доехать по самой низкой цене.
      </p>
    </div>

    <div class="card">
      <img class="icon" src="assets/img/passager.svg" alt="" />
      <p style="width: 299px" class="title">Доверяйте своим попутчикам</p>
      <p class="description">
        Мы узнаем ваших будущих попутчиков и автобусных перевозчиков. Мы проверяем отзывы, профили и
        паспортные данные попутчиков, чтобы вы знали, с кем поедете.
      </p>
    </div>

    <div class="card">
      <img class="icon" src="assets/img/light-strike.svg" alt="" />
      <p style="width: 229px" class="title">В дорогу за пару кликов!</p>
      <p class="description">
        Забронировать поездку проще простого. В приложении легко разобраться: мощный алгоритм за
        пару минут найдет водителя поблизости, и вам останется нажать пару кнопок для брони.
      </p>
    </div>
  </div>
</div>
