<div [ngSwitch]="status" [class.active]="selectedTrip" class="bg" (click)="close()">
  <div *ngSwitchCase="'data'" (click)="$event.stopPropagation()" class="container">
    <h4>План поездки</h4>

    <div *ngIf="selectedTrip" class="trip-container">
      <div class="trip-info">
        <span class="date"
          >{{ selectedTrip.departureDateTime | date }} в
          {{ selectedTrip.departureDateTime | timeFormat }}
        </span>

        <div class="route">
          <img src="assets/img/route.svg" alt="" />
          <div class="route-cities">
            <span>{{
              selectedTrip.departureLocation.country + ', ' + selectedTrip.departureLocation.city
            }}</span>
            <span>{{
              selectedTrip.destinationLocation.country +
                ', ' +
                selectedTrip.destinationLocation.city
            }}</span>
          </div>
        </div>
        <ul class="trip-info">
          <li class="trip-price">
            <div class="column">
              <span> Наличными </span>
              <span> Забронированных мест : {{ selectedTrip.seats }} </span>
            </div>
            <div class="currency">15 BYN</div>
          </li>
        </ul>
        <ul class="trip-driver">
          <div class="driver-info">
            <img class="icon" src="assets/img/profile-user.svg" alt="" />
            <span>{{ selectedTrip.driverName }}</span>
            <img src="assets/img/menu-arrow.svg" alt="user" class="btn-arrow" />
          </div>
          <div class="car-block">
            <div class="car-data">
              <div>
                {{ selectedTrip.car.brand + ' ' + selectedTrip.car.model }}
              </div>
              <div class="round" [style]="'background-color :' + selectedTrip.car.color"></div>
            </div>

            <div class="plate">
              {{ selectedTrip.car.plateNumber }}
            </div>
          </div>
        </ul>

        <ul class="trip-passager">
          Других пассажиров пока нет
        </ul>
      </div>
    </div>

    <div class="btn-container">
      <a (click)="close()" class="link"> Закрыть </a>
      <button
        *ngIf="userService.isAuthorized$ | async"
        (click)="toggleStatus('reserved'); $event.stopPropagation()"
        class="btn accent wide left"
      >
        Забронировать
      </button>
    </div>
  </div>

  <div *ngSwitchCase="'reserved'">
    <img src="assets/img/reserved.svg" alt="" />
  </div>
</div>
